In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

SEX  | AGE  | 2010    | 2014
0    | 0    | 3951330 | 3949775
0    | 1    | 3957888 | 3949776
0    | 2    | 4090862 | 3959664
0    | 3    | 4111920 | 4007079
0    | 4    | 4077551 | 4005716
0    | 5    | 4064653 | 4006900
0    | 6    | 4073013 | 4135930
0    | 7    | 4043046 | 4155326
0    | 8    | 4025604 | 4120903
0    | 9    | 4125415 | 4108349
... (296 rows omitted)



### Table of Contents

1.  <a href='#section 1'>String Exercises</a>

    a. <a href='#subsection 1a'> Converting to and from Strings</a> 

    b. <a href='#subsection 1b'>Passing strings to functions</a><br><br>
    
2. <a href='#section 2'>Arrays</a>

    a. <a href='#subsection 1d'>Making arrays</a><br><br>
    
3. <a href='#section 3'>Importing code</a>

---

## The Data <a id='data'></a>

Today, we will continue work with the US census data, just looking at years 2010 and 2014. 
As a reminder, the `SEX` column contains numeric codes: `0` stands for the total, `1` for male, and `2` for female. The `AGE` column contains ages in completed years, but the special value `999` is a sum of the total population.



---

In [7]:
data = 'http://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/asrh/nc-est2015-agesex-res.csv'

# A local copy can be accessed here in case census.gov moves the file:
# data = path_data + 'nc-est2015-agesex-res.csv'

full_census_table = Table.read_table(data)
partial_census_table = full_census_table.select('SEX', 'AGE', 'POPESTIMATE2010', 'POPESTIMATE2014')
us_pop = partial_census_table.relabeled('POPESTIMATE2010', '2010').relabeled('POPESTIMATE2014', '2014')
us_pop.sort('AGE', descending = True)

SEX  | AGE  | 2010      | 2014
2    | 999  | 157258820 | 161952064
1    | 999  | 152088043 | 156955337
0    | 999  | 309346863 | 318907401
2    | 100  | 45058     | 58008
1    | 100  | 9352      | 13618
0    | 100  | 54410     | 71626
2    | 99   | 26074     | 32517
1    | 99   | 6104      | 8951
0    | 99   | 32178     | 41468
2    | 98   | 37532     | 46208
... (296 rows omitted)

## Filtering with "where"  <a id='section 1'></a>

Intro to section 1 here.

In [ ]:
# CODE

Ask students questions to get them thinking about the data themselves. Make sure it is clear that this text is a question they have to answer and give them a clear place to answer the question.

---

Suggested format:

<b>Question 1:</b> What kind of patterns do you see in this graph? 

<b>Answer: </b> YOUR ANSWER HERE

<b> Question 2</b>: Write the command to print "Hello world".

In [ ]:
# YOUR CODE HERE

---

## Section 2 <a id='section 2'></a>

Intro to section 2 here.

In [ ]:
# CODE

## Section 3 <a id='section 3'></a>

Intro to section 3 here.

In [ ]:
# CODE

### Subsection 1 <a id='subsection 1'></a>

Intro to subsection 1 here.

In [ ]:
# CODE

---

## Bibliography

Cite sources in this format, separated with bullet points:

<b>Format</b>: `Author` - `How source was used`. `URL`

Example:

- John Denero - Adapted NLP techniques. https://denero.org

---

#### Notes for Notebook Style:

- Follow [PEP 8](https://www.python.org/dev/peps/pep-0008/) style guide for Python
- No two cells of successive code or Markdown
- Run all cells with no errors
- Clear all cell output before pushing
- Create a binder for the repo on [mybinder.org](http://mybinder.org) and paste the badge to the top of the README markdown file


#### Notes for Code Style:
- Each line or section of code should be accompanied with a comment
- Comments and code lines should not be too long
- Naming variables: use descriptive names (titanic vs. data), use underscores, not camel case

#### Notes for Visualizations:
- Graphs should be displayed with titles and label axes

#### Example of good code and graphs:

First, we will learn about basic plotting with pandas and seaborn.

In [ ]:
# Import pandas, a data science library, and matplotlib for plotting
import pandas as pd
import matplotlib.pyplot as plt

# Create a DataFrame, or a container of data, with numbers 1 - 3
numbers = pd.DataFrame([1, 2, 3])

# Plots the numbers DataFrame
plt.plot(numbers)
plt.title("Number Line") 
plt.xlabel("x-axis")
plt.ylabel("y-axis")
plt.show()

---
Notebook developed by: X, X, X

Data Science Modules: http://data.berkeley.edu/education/modules